$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);

$dark_magenta: #d4bff9;
$very_dark_magenta: darken($dark_magenta, 25%);

$dark_yellow: #ffddb0;
$very_dark_yellow: darken($dark_yellow, 25%);
